<h1>This is how to waste money</h1>
<a href="http://store.apple.com/us/buy-watch/apple-watch-edition?product=MKL62LL/A&step=detail">Waste all your money</a>
<p></p>
<img src="http://macstroke.com/wp-content/uploads/2014/09/apple-watch-2-400x232.jpg">