<h1>Welcome to the homepage!</h1>
<a name="Homepage"></a> 
<p>Click below to goto webpage.</p>
<a href="http://localhost:4567/">Hello World</a> goto homepage.
<a href="http://localhost:4567/about">About</a> goto homepage.
<a href="http://localhost:4567/hello">Hello</a> goto homepage.
<a href="http://localhost:4567/Freddie">Name</a> goto homepage.
<a href="http://localhost:4567/Freddie/Oxford">Name and City</a> goto homepage.
<a href="http://localhost:4567/more/Extra">Extra</a> goto homepage.
<a href="http://localhost:4567/form"></a> goto homepage. 
<a href="http://localhost:4567/secret">here</a> goto homepage. 
<a href="http://localhost:4567/">Not working</a> goto homepage. 
