<h1>Welcome to Name</h1>
<p>hhhhhhhh</p>
<form action="/name" method="post">
  <input type="text" name="name">
  <input type="submit">
</form>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Hello_my_name_is_sticker.svg/1280px-Hello_my_name_is_sticker.svg.png" alt="Nothing" width="188.4" height="134.8"/>
<%= session[:name]%>